# Created by .ignore support plugin (hsz.mobi)
*.d.ts
*.js

.idea
dist_novel
dist_novel/**/*
dist_novel/*
dist_novel/**
dist_novel/*_out
### git template

~ci.list.txt
~ci.log.txt
~ci.errors.txt

*.stackdump
*.bak
*.old

package-lock.json

test/**/*.js
test/**/*.d.ts
test/*.js
test/*.d.ts
test/temp
test/temp*
/dist_novel/
**/dist_novel
dist_novel
**/dist_novel/**
/yarn.lock
project.config.local.*

/test/**/*
!/test/_local-dev.ts
!/test/**/*.test.ts
/.eslintrc.json.tpl
/.browserslistrc
!/test/data/
!/test/data/*.ts

!/test/lib/
!/test/lib/*.ts

/test/**/*.d.ts
/test/**/*.js
/tsconfig.tsbuildinfo
