# Created by .ignore support plugin (hsz.mobi)
/dist/
/test/
/.idea/
/dist_novel/
### npm template
.idea

~ci.list.txt
~ci.log.txt
~ci.errors.txt

*.stackdump
*.bak
*.old

tsconfig.json
package-lock.json

test
